<!DOCTYPE html>

<html lang="en">
<head>
<title>Gestion des plaintes</title>
   
</head>




<body>
<%= image_tag("logos/APEFE-logo-1000px.jpg") %>

<div class="container">
	<div class="div_img">
    <h1 style="text-align: center;">Gestion des plaintes</h1>
    <p>Date : <%= Date.today  %> </p>

    <p style="text-align: justify;">
	Chaque jour, l’APEFE doit mériter la confiance de ses donateurs, des pays partenaires et des populations pour lesquelles nous travaillons. Notre code de conduite est la pierre angulaire de notre engagement éthique <a href="https://www.apefe.org/Documents/Code_Ethique_2019.pdf" target="_blank">
		(consulter le code éthique)
	</a>
	. Partout dans le monde, il sert à nous guider pour nous comporter de manière éthique et responsable.
	<br>
	<br>
	<strong>
		Quand appeler le bureau de l'intégrité ?
	
	</strong>
	<br>
	Lorsque vous êtes confronté à ce que vous percevez comme une rupture au regard du code éthique.
	<br>
	<br>
	<strong>
		Qui peut faire appel au bureau de l’intégrité ?
	</strong>
	<br>
	Fournisseurs ou partenaires de l’APEFE.
	<br>
	Membres du personnel de l’APEFE.
	<br>
	Bénéficiaires directs des activités de l’APEFE en Belgique et à l’étranger.
	<br>
	<br>
	<strong>
		Comment les plaintes et les questions sont-elles traitées ?
	</strong>
	<br>
	Les plaintes et les questions sont traitées avec la plus grande confidentialité. Toutefois, elles ne peuvent pas être notifiées anonymement. Nous devons pouvoir contacter le plaignant afin d'obtenir d'éventuelles informations supplémentaires.
	<br>
	Le système de gestion des plaintes et des questions est indépendant de la structure informatique. Seuls les membres du bureau d'intégrité ont accès aux formulaires remplis ou aux fichiers et courriels envoyés.
	<br>
	En enregistrant votre plainte, vous acceptez que dans le cadre de la RGPD, vos données soient conservées, éventuellement utilisées par des tiers afin de trouver une solution à votre plainte et uniquement dans ce cadre.
	<br>
	Vous pourrez à tout moment, demander que vos données soient définitivement supprimées de nos serveurs (droit à l'oubli).
	<br>
	Dans tous les cas celles-ci seraient définitivement supprimées dès la résolution définitive du problème lié à votre plainte.
	<br>Tous les champs sont obligatoires.
</p>
</div>

<div class="container">

<form>
  
<div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
  <label for="exampleInputEmail1">Nom</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
</div>

<div class="form-group">
  <label for="exampleInputEmail1">Prenom</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
</div>

<div class="form-group">
  <label for="exampleInputEmail1">Rue</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>

<div class="form-group">
  <label for="exampleInputEmail1">Numero</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
</div>

<div class="form-group">
  <label for="exampleInputEmail1">Code postal</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
</div>

<div class="form-group">
  <label for="exampleInputEmail1">Localite</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
</div>

<div class="form-group">
  <label for="exampleInputEmail1">Pays</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
</div>


<div class="form-group">
  <label for="exampleInputEmail1">Numero telephone</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
</div>

<div class="form-group">
  <label for="exampleInputEmail1">Email</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
</div>


<div class="form-group">
  <label for="exampleInputEmail1">Email confirm</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

</div>

<div class="form-group">
    <label for="exampleFormControlTextarea1">Plainte</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>



  
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Acceptation</label>
  </div>

<p>
   Ce formulaire est protégé par reCAPTCHA et les règles de Google <a href="https://policies.google.com/privacy">Règles de confidentialité</a> et <a href="https://policies.google.com/terms">Conditions d’utilisation </a> sont appliquées.
</p>
  
  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>

</div>





</body>
</html>